<<<<<<< HEAD
:root {
  --main-color: #bf2424f0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", "sans-serif";
}
/* start setting box */
.setting-box {
  position: fixed;
  z-index: 100;
  width: 200px;
  min-height: 100vh;
  background-color: white;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  left: -200px;
  border: 1px solid #ccc;
}
.setting-box.open {
  left: 0;
}
.setting-box-Container .color-options,
.setting-box-Container .bullets-options,
.setting-box-Container .Background-options {
  padding: 20px 4px 20px 0;
  background-color: #eee;
  margin: 10px 7px 0;
}
.setting-box-Container h4 {
  text-align: center;
  font-weight: bold;
  margin-top: -10px;
  color: #666;
  font-size: 13px;
}
.setting-box-Container .colors-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}
.setting-box-Container .colors-list li {
  display: inline-block;
  border-radius: 1.5%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  margin-left: 15px;
}
.setting-box-Container .colors-list li.active {
  border-color: white;
}
.setting-box-Container .colors-list li:first-child {
  background-color: #bf2424f0;
}
.setting-box-Container .colors-list li:nth-child(2) {
  background-color: #33fe21f0;
}
.setting-box-Container .colors-list li:nth-child(3) {
  background-color: #fed921f0;
}
.setting-box-Container .colors-list li:nth-child(4) {
  background-color: #fe218ff0;
}
.setting-box .holder-icon {
  position: absolute;
  right: -30px;
  background-color: white;
  top: 150px;
}
.setting-box .holder-icon i {
  padding: 8px 0;
  width: 30px;
  cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.holder-spans .yes,
.holder-spans .no {
  display: inline-block;
  width: 50px;
  background-color: var(--main-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.setting-box .holder-spans .active {
  opacity: 1;
}
/* end setting box */

/* start landing */
.landing-page {
  position: relative;
  min-height: 100vh;
  background-image: url(/Imgs/1.jpg);
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.header-area {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  color: var(--main-color);
  z-index: 2;
  justify-content: space-between;
}

.header-area .logo {
  font-style: italic;
  width: 300px;
  font-weight: bold;
}
.header-area .links .container {
  width: 100%;
  position: relative;
  z-index: 100;
}
.header-area .links {
  list-style: none;
  display: flex;
  width: 100%;
}
.header-area .links li {
  margin-left: 13px;
  cursor: pointer;
}

.header-area .links li a {
  text-decoration: none;
  color: var(--main-color);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: white;
}
.toggle-menu {
  position: relative;
  background: none;
  width: 37px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: none;
  /* position: relative; */
}
.toggle-menu.menu-active:before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent white transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-menu span {
  display: block;
  background-color: white;
  height: 4px;
  margin-bottom: 4px;
}
@media (max-width: 991px) {
  .header-area .links {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 38px;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .header-area .links.open {
    opacity: 100%;
    pointer-events: auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .toggle-menu {
    display: block;
  }

  .header-area .links li a.active,
  .header-area .links li a:hover {
    color: var(--main-color);
  }
  .header-area .links li {
    margin-top: 7px;
  }
}

.introductions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.introductions h1 {
  margin: 0 0 20px;
  font-size: 37px;
}
.introductions h1 span {
  color: var(--main-color);
  font-weight: bold;
}
.introductions p {
  font-size: 25px;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .introductions {
    width: 95%;
  }
  .introductions h1 {
    font-size: 20px;
  }
  .introductions p {
    font-size: 18px;
  }
}
/* end landing */

/* start about us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 10px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
}
.about-us .img-box {
  text-align: center;
  flex: 1;
}
.about-us .img-box img {
  animation-name: up-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 400px;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .img-box img {
    width: 300px;
  }
}
@keyframes up-down {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  50% {
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
/* end about us */

/* start our skills */

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.our-skills {
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.our-skills .skills-name {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 140px;
}
.our-skills .skills-progress {
  width: 100%;
  background-color: #eee;
  position: relative;
  height: 28.4px;
}

.our-skills .skills-progress span {
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
.our-skills .skills-progress span.active:before {
  content: "";
  position: absolute;
  right: -19px;
  top: 5px;
  border: 10px solid;
  border-color: transparent transparent transparent var(--main-color);
  opacity: 1;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
.our-skills .skills-progress span.active:after {
  content: attr(data-progress);
  position: absolute;
  right: -45px;
  top: 5px;
  font-weight: bold;
  color: var(--main-color);
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
@media (max-width: 767px) {
  .our-skills {
    display: block;
  }
  .our-skills .skills-name {
    width: 100%;
    text-align: center;
    margin: 0 0 15px;
    padding: 0;
  }
}
/* end our skills */

/* Start Gallary */

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  cursor: pointer;
  background-color: #f6f6f6;
  margin: 5px;
  border: 1px solid white;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #ccc;
  border: 1px solid #eee;
  z-index: 1001;
}
.popup-box img {
  max-width: 100%;
}

.close-button {
  position: absolute;
  text-align: center;
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -15px;
  right: -15px;
}
.caption-photo {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  margin: 0 0 20px;
}
.transition {
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}
/* End Gallary */

/* start timeline */
.time-line {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.time-line .time-line-content {
  position: relative;
  overflow: hidden;
}
.time-line .time-line-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.time-line .year {
  position: relative;
  margin: 20px auto;
  width: 50px;
  color: white;
  z-index: 2;
  background-color: var(--main-color);
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-weight: bold;
  top: -20px;
}
.time-line-content .left,
.time-line-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.time-line-content .left::before,
.time-line-content .right::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  border: 3px solid var(--main-color);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.time-line-content .left::before {
  right: -35px;
}
.time-line-content .right::before {
  left: -35px;
}
@media (max-width: 767px) {
  .time-line-content .left::before,
  .time-line-content .right::before {
    display: none;
  }
}
.time-line-content .left {
  float: left;
}
.time-line-content .right {
  float: right;
}
.time-line-content .right .content,
.time-line-content .left .content {
  background-color: #fff;
  padding: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .time-line-content .left,
  .time-line-content .right {
    width: 100%;
  }
}
.time-line-content .left .content::before,
.time-line-content .right .content::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
}
.time-line-content .left .content::before {
  border-color: transparent transparent transparent white;
  right: -19px;
  top: 0;
}
.time-line-content .right .content::before {
  border-color: transparent white transparent transparent;
  left: -19px;
  top: 0;
}
@media (max-width: 767px) {
  .time-line-content .left .content::before,
  .time-line-content .right .content::before {
    display: none;
  }
}
.time-line-content .content h3 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 10px;
}
.time-line-content .content p {
  line-height: 1.6;
  color: #666;
  margin: 0;
}
.fix {
  clear: both;
}
/* end timeline */

/* start ourFeatures */
.our-features {
  padding-top: 70px;
  padding-bottom: 70px;
}
.our-features h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.our-features .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.our-features .box {
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .our-features .box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .our-features .box {
    width: 100%;
  }
}
.our-features .box img {
  width: 100px;
}
.our-features .box h4 {
  font-weight: bold;
  position: relative;
}
.our-features .box h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: var(--main-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 22px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.our-features .box p {
  line-height: 1.7;
  color: #666;
  width: 80%;
  margin: 0 auto;
}
/* end ourFeatures */

/* start testimonials */
.testimonails {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.testimonails::before {
  content: "";
  position: absolute;
  width: 50%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.testimonails::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #333;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.testimonails h2 {
  color: white;
  font-weight: bold;
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .testimonails h2 {
    text-align: center;
  }
}
.testimonails .holder {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .testimonails .holder {
    flex-direction: column;
    gap: 15px;
  }
}
.testimonails .testimonails-box {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.testimonails .testimonails-box:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}
.testimonails .testimonails-box > p {
  line-height: 1.7;
  font-size: 15px;
  color: #333;
  font-style: italic;
  margin: 0 0 15px;
}
.testimonails .testimonails-box .person-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .testimonails .testimonails-box .person-info {
    gap: 0;
  }
}
@media (max-width: 991px) {
  .testimonails .testimonails-box .person-info {
    flex-direction: column;
    text-align: center;
  }
}
.testimonails .testimonails-box .person-info .image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.testimonails .testimonails-box .person-info .content {
  margin: 0 0 5px;
}
.testimonails .testimonails-box .person-info .content h3 {
  font-weight: bold;
  margin: 0;
}
.testimonails .testimonails-box .person-info .content p {
  color: #676161;
  font-size: 15px;
  margin: 10px 0 0;
}
.testimonails .testimonails-box .rate {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin: 10px 0 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
@media (max-width: 767px) {
  .testimonails .testimonails-box .rate {
    margin: 5px 0 0;
  }
}
.testimonails .testimonails-box .star-icons {
  text-align: center;
  margin-top: 10px;
}
.testimonails .testimonails-box .star-icons i {
  cursor: pointer;
}
/* end testimonials */

/* start bullets */
.nav-bullets {
  position: fixed;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1000;
}
.nav-bullets .bullets {
  color: white;
  border: 3px solid var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.nav-bullets .bullets .tooltip {
  position: absolute;
  right: 30px;
  background-color: var(--main-color);
  color: white;
  width: 120px;
  top: -5px;
  text-align: center;
  padding: 5px 10px;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}
.nav-bullets .bullets:hover .tooltip {
  opacity: 100%;
}
.nav-bullets .bullets .tooltip::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* end bullets */

/* reset button */

.reset-button {
  background-color: rgb(247, 55, 55);
  width: 184px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* start contactus */
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(/Imgs/contact.png);
  background-size: cover;
  min-height: 600px;
  position: relative;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.contact form {
  display: flex;
  max-width: 850px;
  margin: auto;
  gap: 20px;
}
@media (max-width: 767px) {
  .contact form {
    flex-direction: column;
    gap: 0;
  }
}
.contact form .left {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left {
    width: 90%;
    margin: 0 auto;
  }
}
.contact form .right {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .right {
    width: 90%;
    margin: 0 auto;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  background-color: rgba(218, 218, 218, 0.19);
  border: 1px solid var(--main-color);
}

.contact form input:not([type="submit"]),
.contact form textarea:focus {
  outline: none;
}
.contact form textarea {
  height: 150px;
  margin-bottom: 15px;
}
.contact form input[type="submit"] {
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end contact us */

/* start footer  */
.footer {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end footer  */

/* start grid system */
/* small screens */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* medium screens */
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  /* desktops */
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  /* large screens */
  @media (min-height: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
} /* end grid system */

/* button Up */
.up {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 5;
  font-size: 30px;
  cursor: pointer;
  color: var(--main-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  right: -50px;
}
.up.show {
  right: 20px;
}
=======
:root {
  --main-color: #bf2424f0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", "sans-serif";
}
/* start setting box */
.setting-box {
  position: fixed;
  z-index: 100;
  width: 200px;
  min-height: 100vh;
  background-color: white;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  left: -200px;
  border: 1px solid #ccc;
}
.setting-box.open {
  left: 0;
}
.setting-box-Container .color-options,
.setting-box-Container .bullets-options,
.setting-box-Container .Background-options {
  padding: 20px 4px 20px 0;
  background-color: #eee;
  margin: 10px 7px 0;
}
.setting-box-Container h4 {
  text-align: center;
  font-weight: bold;
  margin-top: -10px;
  color: #666;
  font-size: 13px;
}
.setting-box-Container .colors-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}
.setting-box-Container .colors-list li {
  display: inline-block;
  border-radius: 1.5%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  margin-left: 15px;
}
.setting-box-Container .colors-list li.active {
  border-color: white;
}
.setting-box-Container .colors-list li:first-child {
  background-color: #bf2424f0;
}
.setting-box-Container .colors-list li:nth-child(2) {
  background-color: #33fe21f0;
}
.setting-box-Container .colors-list li:nth-child(3) {
  background-color: #fed921f0;
}
.setting-box-Container .colors-list li:nth-child(4) {
  background-color: #fe218ff0;
}
.setting-box .holder-icon {
  position: absolute;
  right: -30px;
  background-color: white;
  top: 150px;
}
.setting-box .holder-icon i {
  padding: 8px 0;
  width: 30px;
  cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.holder-spans .yes,
.holder-spans .no {
  display: inline-block;
  width: 50px;
  background-color: var(--main-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.setting-box .holder-spans .active {
  opacity: 1;
}
/* end setting box */

/* start landing */
.landing-page {
  position: relative;
  min-height: 100vh;
  background-image: url(/Imgs/1.jpg);
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.header-area {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  color: var(--main-color);
  z-index: 2;
  justify-content: space-between;
}

.header-area .logo {
  font-style: italic;
  width: 300px;
  font-weight: bold;
}
.header-area .links .container {
  width: 100%;
  position: relative;
  z-index: 100;
}
.header-area .links {
  list-style: none;
  display: flex;
  width: 100%;
}
.header-area .links li {
  margin-left: 13px;
  cursor: pointer;
}

.header-area .links li a {
  text-decoration: none;
  color: var(--main-color);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: white;
}
.toggle-menu {
  position: relative;
  background: none;
  width: 37px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: none;
  /* position: relative; */
}
.toggle-menu.menu-active:before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent white transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-menu span {
  display: block;
  background-color: white;
  height: 4px;
  margin-bottom: 4px;
}
@media (max-width: 991px) {
  .header-area .links {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 38px;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .header-area .links.open {
    opacity: 100%;
    pointer-events: auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .toggle-menu {
    display: block;
  }

  .header-area .links li a.active,
  .header-area .links li a:hover {
    color: var(--main-color);
  }
  .header-area .links li {
    margin-top: 7px;
  }
}

.introductions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.introductions h1 {
  margin: 0 0 20px;
  font-size: 37px;
}
.introductions h1 span {
  color: var(--main-color);
  font-weight: bold;
}
.introductions p {
  font-size: 25px;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .introductions {
    width: 95%;
  }
  .introductions h1 {
    font-size: 20px;
  }
  .introductions p {
    font-size: 18px;
  }
}
/* end landing */

/* start about us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 10px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
}
.about-us .img-box {
  text-align: center;
  flex: 1;
}
.about-us .img-box img {
  animation-name: up-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 400px;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .img-box img {
    width: 300px;
  }
}
@keyframes up-down {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  50% {
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
/* end about us */

/* start our skills */

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.our-skills {
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.our-skills .skills-name {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 140px;
}
.our-skills .skills-progress {
  width: 100%;
  background-color: #eee;
  position: relative;
  height: 28.4px;
}

.our-skills .skills-progress span {
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
.our-skills .skills-progress span.active:before {
  content: "";
  position: absolute;
  right: -19px;
  top: 5px;
  border: 10px solid;
  border-color: transparent transparent transparent var(--main-color);
  opacity: 1;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
.our-skills .skills-progress span.active:after {
  content: attr(data-progress);
  position: absolute;
  right: -45px;
  top: 5px;
  font-weight: bold;
  color: var(--main-color);
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}
@media (max-width: 767px) {
  .our-skills {
    display: block;
  }
  .our-skills .skills-name {
    width: 100%;
    text-align: center;
    margin: 0 0 15px;
    padding: 0;
  }
}
/* end our skills */

/* Start Gallary */

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  cursor: pointer;
  background-color: #f6f6f6;
  margin: 5px;
  border: 1px solid white;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #ccc;
  border: 1px solid #eee;
  z-index: 1001;
}
.popup-box img {
  max-width: 100%;
}

.close-button {
  position: absolute;
  text-align: center;
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -15px;
  right: -15px;
}
.caption-photo {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  margin: 0 0 20px;
}
.transition {
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}
/* End Gallary */

/* start timeline */
.time-line {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.time-line .time-line-content {
  position: relative;
  overflow: hidden;
}
.time-line .time-line-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.time-line .year {
  position: relative;
  margin: 20px auto;
  width: 50px;
  color: white;
  z-index: 2;
  background-color: var(--main-color);
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-weight: bold;
  top: -20px;
}
.time-line-content .left,
.time-line-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.time-line-content .left::before,
.time-line-content .right::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  border: 3px solid var(--main-color);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.time-line-content .left::before {
  right: -35px;
}
.time-line-content .right::before {
  left: -35px;
}
@media (max-width: 767px) {
  .time-line-content .left::before,
  .time-line-content .right::before {
    display: none;
  }
}
.time-line-content .left {
  float: left;
}
.time-line-content .right {
  float: right;
}
.time-line-content .right .content,
.time-line-content .left .content {
  background-color: #fff;
  padding: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .time-line-content .left,
  .time-line-content .right {
    width: 100%;
  }
}
.time-line-content .left .content::before,
.time-line-content .right .content::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
}
.time-line-content .left .content::before {
  border-color: transparent transparent transparent white;
  right: -19px;
  top: 0;
}
.time-line-content .right .content::before {
  border-color: transparent white transparent transparent;
  left: -19px;
  top: 0;
}
@media (max-width: 767px) {
  .time-line-content .left .content::before,
  .time-line-content .right .content::before {
    display: none;
  }
}
.time-line-content .content h3 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 10px;
}
.time-line-content .content p {
  line-height: 1.6;
  color: #666;
  margin: 0;
}
.fix {
  clear: both;
}
/* end timeline */

/* start ourFeatures */
.our-features {
  padding-top: 70px;
  padding-bottom: 70px;
}
.our-features h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.our-features .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.our-features .box {
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .our-features .box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .our-features .box {
    width: 100%;
  }
}
.our-features .box img {
  width: 100px;
}
.our-features .box h4 {
  font-weight: bold;
  position: relative;
}
.our-features .box h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: var(--main-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 22px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.our-features .box p {
  line-height: 1.7;
  color: #666;
  width: 80%;
  margin: 0 auto;
}
/* end ourFeatures */

/* start testimonials */
.testimonails {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.testimonails::before {
  content: "";
  position: absolute;
  width: 50%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.testimonails::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #333;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.testimonails h2 {
  color: white;
  font-weight: bold;
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .testimonails h2 {
    text-align: center;
  }
}
.testimonails .holder {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .testimonails .holder {
    flex-direction: column;
    gap: 15px;
  }
}
.testimonails .testimonails-box {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.testimonails .testimonails-box:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}
.testimonails .testimonails-box > p {
  line-height: 1.7;
  font-size: 15px;
  color: #333;
  font-style: italic;
  margin: 0 0 15px;
}
.testimonails .testimonails-box .person-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .testimonails .testimonails-box .person-info {
    gap: 0;
  }
}
@media (max-width: 991px) {
  .testimonails .testimonails-box .person-info {
    flex-direction: column;
    text-align: center;
  }
}
.testimonails .testimonails-box .person-info .image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.testimonails .testimonails-box .person-info .content {
  margin: 0 0 5px;
}
.testimonails .testimonails-box .person-info .content h3 {
  font-weight: bold;
  margin: 0;
}
.testimonails .testimonails-box .person-info .content p {
  color: #676161;
  font-size: 15px;
  margin: 10px 0 0;
}
.testimonails .testimonails-box .rate {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin: 10px 0 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
@media (max-width: 767px) {
  .testimonails .testimonails-box .rate {
    margin: 5px 0 0;
  }
}
.testimonails .testimonails-box .star-icons {
  text-align: center;
  margin-top: 10px;
}
.testimonails .testimonails-box .star-icons i {
  cursor: pointer;
}
/* end testimonials */

/* start bullets */
.nav-bullets {
  position: fixed;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1000;
}
.nav-bullets .bullets {
  color: white;
  border: 3px solid var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.nav-bullets .bullets .tooltip {
  position: absolute;
  right: 30px;
  background-color: var(--main-color);
  color: white;
  width: 120px;
  top: -5px;
  text-align: center;
  padding: 5px 10px;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}
.nav-bullets .bullets:hover .tooltip {
  opacity: 100%;
}
.nav-bullets .bullets .tooltip::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* end bullets */

/* reset button */

.reset-button {
  background-color: rgb(247, 55, 55);
  width: 184px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* start contactus */
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(/Imgs/contact.png);
  background-size: cover;
  min-height: 600px;
  position: relative;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 50px;
  text-align: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.contact form {
  display: flex;
  max-width: 850px;
  margin: auto;
  gap: 20px;
}
@media (max-width: 767px) {
  .contact form {
    flex-direction: column;
    gap: 0;
  }
}
.contact form .left {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left {
    width: 90%;
    margin: 0 auto;
  }
}
.contact form .right {
  display: flex;
  flex-direction: column;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .right {
    width: 90%;
    margin: 0 auto;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  background-color: rgba(218, 218, 218, 0.19);
  border: 1px solid var(--main-color);
}

.contact form input:not([type="submit"]),
.contact form textarea:focus {
  outline: none;
}
.contact form textarea {
  height: 150px;
  margin-bottom: 15px;
}
.contact form input[type="submit"] {
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end contact us */

/* start footer  */
.footer {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end footer  */

/* start grid system */
/* small screens */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* medium screens */
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  /* desktops */
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  /* large screens */
  @media (min-height: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
} /* end grid system */

/* button Up */
.up {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 5;
  font-size: 30px;
  cursor: pointer;
  color: var(--main-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  right: -50px;
}
.up.show {
  right: 20px;
}
>>>>>>> 3a41dc5a3ac459ac3e376f7023c5101c824a7c12
